html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

body {
  background-image: url('/pictures/bg/big_curve.png'), url('/pictures/bg/full_wave.png');
  background-size: cover, 150% 150%;
  background-position: center top, center;
  background-repeat: repeat-y;
  background-attachment: scroll, fixed;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
 
}




@media screen and (max-width: 768px){
  ul.menu li a {
    font-size: 3vw;
    margin: 0;
    /* padding: 0 10px; */
  }
  svg#font-context {
    width: 95vw;
  }
  div#bg-about, div#nft_sub-container,div#bg3, div#bg4, div#bg5 {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #message, input.fill, img#about_me, img#jocose-ads{
    width: 75%;
  }
  img.getintouch_below, img#sam_pic{
    width: 50%;
  }
  /* img#get_in_touch_tiltpink,  */
  img#nft, svg.devAndDesign1, svg#ui_details {
    width: 90%;
  }
  div#getintouch_section img#getintouch_head, svg#nft_text, img#salon, svg#graphic_text, img#ads, img#cannabis_app {
    width: 90vw;
  }
  svg#about_me_text{
    width: 92vw;
  }
  img#getintouch_font, img#get_in_touch_ads, img#getintouch_about, img#get_in_touch_tiltpink, button.image-button {
    width: 35%;
  }

  

  img#back-to-top-btn {
    width: 10vw;
  }
  img#nft_header, img#graphic_header, img#ui_design{
    width: 85vw;
  }
  svg#ads-details{
    width: 70vw;
    margin-top: 5%;
  }
  img#jocose-ads{
    margin-left: 12%;
  }
  svg#about_me_text, img#nft, img.getintouch_below, div#left_ui_container{
  margin: 0 0 2% 0;
  }
  img.getintouch_below {
    float: left;
  }
  div#left_ui_container {
    margin-bottom: 20%;
  }
 
}




#bg1, #bg-about, #bg2, #bg3, #bg4, #bg5, #bg6 {
  padding: 0 4%;
  font-family: 'Montserrat', sans-serif;
}

.sub-container {
  scroll-snap-align: start;
}

#bg1 {
  justify-content: center;
  text-align: center;
  display: block;
}

ul {
  padding-left: 0;
}

.menu {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;


}

.menu li a {
  display: block;
  color: #020202;
  text-decoration: none;
  margin: 5% 2vw;
  padding: 1vh;
  font-weight: bolder;
  font-size: 1.5vw;
  text-align: center;
  /* background-color: coral; */
}

.getintouch {
  width: 12vw;
  transition: transform 0.2s ease-in-out;
}

.linkedin {
  width: 5vw;
}

.menu li a:hover,
.getintouch_below:hover,
#get_in_touch_tiltpink:hover,
#get_in_touch_ads:hover {
  /* background-color: #666; */
  animation: shake 0.5s ease-out;
}

@keyframes shake {

  /* Define the shaking animation */
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5px, -5px);
  }

  20% {
    transform: translate(5px, -5px);
  }

  30% {
    transform: translate(-5px, 5px);
  }

  40% {
    transform: translate(5px, 5px);
  }

  50% {
    transform: translate(-5px, -5px);
  }

  60% {
    transform: translate(5px, -5px);
  }

  70% {
    transform: translate(-5px, 5px);
  }

  80% {
    transform: translate(5px, 5px);
  }

  90% {
    transform: translate(-5px, -5px);
  }

  100% {
    transform: translate(0);
  }
}

/* header {
  display: block;
} */


.devAndDesign1 {
  width: 70vw;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

#Developer_2 {
  fill: #a3defe;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  20% {
    fill: #00FFA6;
    /* Initial background color */
  }

  40% {
    fill: #a3defe;
    /* Intermediate background color */
  }

  60% {
    fill: #FFA6FF;
    /* Final background color */
  }

  80% {
    fill: #a3defe;
    /* Final background color */
  }
}

#Group_2 {
  position: relative;
  animation-name: octopus-move;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes octopus-move {
  0% {
    /* Define the initial position of the element */
    transform: translate(55px, 200px);
  }

  25% {
    /* Define the position of the element at 25% of the animation */
    transform: translate(50px, 180px);
  }

  50% {
    /* Define the position of the element at 50% of the animation */
    transform: translate(20px, 200px);
  }

  75% {
    /* Define the position of the element at 75% of the animation */
    transform: translate(15px, 180px);
  }

  100% {
    /* Define the position of the element at 100% of the animation */
    transform: translate(55px, 200px);
  }
}


.scroll {
  width: 4%;
  margin: 2% 0 10% 48vw;
  animation: moveUpDown 1s infinite;
}

.dot_holder {
  width: 15%;
  margin: 0 0 18% -10vw;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

#Union_1-4 {
  fill: #a3defe;
  animation: colorChangeFishEgg 3s infinite alternate;
}

@keyframes colorChangeFishEgg {
  20% {
    fill: #E5B2FF;
    /* Initial background color */
  }

  40% {
    fill: #00FFA6;
    /* Intermediate background color */
  }

  60% {
    fill: #FFA6FF;
    /* Final background color */
  }

  80% {
    fill: #a3defe;
    /* Final background color */
  }
}


.fish_egg {
  animation: changeText 2s infinite;
  text-decoration: none;
}

@keyframes changeText {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

#alink_dot_holder{
  text-decoration: none;
  -webkit-text-decoration: none; /* For older versions of Safari and iOS */
  -moz-text-decoration: none; /* For older versions of Firefox */
  -ms-text-decoration: none;
}


#bg-about {
  display: flex;
  margin: 0 0 2% 2%;
  
}

#left-section-about {
  padding-left: 1%;
  text-align: center;
}

#sam_pic {
  width: 22vw;
}

#about_me_text {
  width: 56vw;
  margin-left: -9%;
  padding-right: 0;
}

#getintouch_about{
  margin: 3% 0 10% 0;
  width: 12vw;
}


#bg2 {
  margin: 5% 5%;

}

#nft_header,
#graphic_header,
#about_me {
  width: 36vw;
}
#graphic_header,
#about_me {
margin-bottom: 2%;
}

#nft_sub-container {
  display: flex;
  align-items: center;
}

#nft_text-container {
  display: block;
  width: 90%;
  padding-top: 0;
  margin: 0;
}

#nft_text {
  width: 35vw;
  float: left;
}

#nft {
  width: 43vw;
  margin-top: -20%;
}

.getintouch_below {
  width: 12vw;
  margin: -2% 0 0 3%;
}


#bg3 {
  margin: 8% 0;
  display: flex;

}

#cannabis_app {
  width: 62vw;
}


#ui_design {
  width: 30vw;
  margin-bottom: 3%;

}

#ui_details {
  width: 32vw;
}

#left_ui_container{
  margin-right: 30px;
}

#get_in_touch_tiltpink {
  width: 12vw;
  float: right;
  margin-top: 3%;
}

#bg4 {
  margin: 5% 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

#graphic_header {
  padding-top: 1%;
}


#salon {
  width: 55vw;
  margin-left: 4%;

}

#graphic_text {
  width: 35vw;
  margin-left: 5%;
}

#getintouch_graphic {
  float: left;
  margin: -3% 0 0 5%;
}

#bg5 {
  display: flex;
}

#ads {
  width: 61vw;
}

#jocose-ads {
  width: 20vw;
  margin: 3% 0 0 3vw;
}

#ads-details {
  width: 30vw;
  margin-left: 2vw;
}

#get_in_touch_ads {
  width: 11vw;
  float: right;
}

#bg6 {
  margin-top: 5%;
  margin-bottom:8%;
}

#font-section {
  display: flex;
  justify-content: center;
}

#alua {
  width: 25vw;
}

#majestic {
  width: 60vw;
}

#font-context {
  width: 70vw;
}

#font-context-section {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#font-context-section img {
  text-align: center;
  justify-content: center;
  margin: auto;
  /* padding-left: 2vw; */
}

#getintouch_font {
  padding-bottom: 10%;
}

#getintouch_section {
  margin: 3vh auto 3vh auto;
  text-align: center;
}

#getintouch_section img {
  width: 60vw;
  margin-bottom: 3vh;
  /* font-size: 4em;
  font-family: 'DM Serif Display', serif;
  font-style: italic; */
}

.fill, textarea {
  width: 40%;
  height: 40px;
  margin-bottom: 1.5%;
  background-color: white;
  border: white 1px solid;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1em;
  color: #040404;
  resize: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

textarea {
  height: 120px;
  padding-top: 1%;
}

.image-button {
  width: 12%;
  height: 30px;
  background: none;
  border-color: transparent;
  border-radius: 100px;
  padding: 0;
  cursor: pointer;
}

img#send {
  width: 100%;
  margin: 0;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 5vw;
}

footer {
  text-align: center;
  background-color: #040404;
  padding: 10px;
  /* width: 100%; */
  margin-top: 5%;
}

footer p {
  margin: 0;
  font-size: 18px;
  color: #cccccc;
}